<!DOCTYPE html>
<html>
<head>
  <title >Сотрудники Stark Industries</title>
    <style>
        body {
            background-color: #FFFFE0;
            background-size: cover; /* Чтобы изображение заполнило весь фон, сохраняя пропорции */
            background-repeat: no-repeat; /* Важно: не повторяем, иначе будут видны фрагменты */
            margin: 0;
            padding: 20px;
            font-family: Arial, sans-serif;
        }
        .center {
          text-align: center; /* Выравнивание по центру */
        }
    </style>
</head>
<body>
  <div class="center">
  <h1 style="font-size: 50px;">Сотрудники компании Stark Industries</h1>
  </div>
  {% block body %}{% endblock %}
</body>
</html>


